* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 16px 0 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 56px;
}

.submenu {
    display: none;
    border: 1px solid blue;
    background-color: #fff;
    position: absolute;
    left: 0;
    width: 300px;
    top: 100%;
}

.menu > li {
    float: left;
    list-style: none;
    padding: 16px;
    border-top: 4px solid transparent;
    position: relative;
}

.clear {
    clear: both;
}

.menu li:hover .submenu {
    display: block;
}

.menu li:hover {
    border-color: blue;
}

.submenu li {
    display: block;
    padding: 8px;
}

.produto img {
    max-width: 100%;
}

.produto {
    text-align: center;
}

.produto button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: rgb(133, 9, 77);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.loja {
    margin-bottom: 56px;
}

.loja .produto a {
    display: flex;
    font-size: 2em;
}

.loja .produto img {
    margin-right: 8px;
}

section h2 {
    margin-bottom: 32px;
}

.produtos {
    display: grid;
    grid-template-columns: repeat(4, 24.5%);
    column-gap: 1%;
    row-gap: 5%;
}

@media screen and (max-width: 767px) {
    .conteudo {
        display: block;
    }

    .container {
        max-width: 90%;
    }
    
    .loja .produto a {
        display: block;
        font-size: 1.5em;
    }
    
    .loja .produto img {
        margin-right: 0;
    }

    .produtos {
        display: block;
    }

    .produtos .produto {
        margin-bottom: 32px;
    }
    
    header .container {
        flex-direction: column;
    }

    .submenu {
        display: block;
        width: 100%;
        position: relative;
        border: none;
    }
    
    .menu {
        display: none;
    }
    
    .menu > li {
        clear: both;
    }
    
    .submenu li {
        display: block;
        padding: 8px;
    }

    .botao-menu {
        display: flex;
        justify-content: center;
        margin-top: 16px;
        padding-bottom: 16px;
    }

    .botao-menu button {
        padding: 8px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        max-width: 90%;
    }

    .botao-menu {
        display: none;
    }

    .loja .produto a {
        font-size: 1.5em;
    }

    .produtos {
        grid-template-columns: repeat(2, 49%);
    }
}

@media screen and (min-width: 1024px) {
    .botao-menu {
        display: none;
    }
}
